*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
paper/*.blg
paper/*.dvi
paper/*.glg
paper/*.gls
paper/*.ilg
paper/*.ind
paper/*.lof
paper/*.lot
paper/*.maf
paper/*.mtc
paper/*.mtc1
paper/*.out
paper/*.synctex.gz
